<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

 {{#each images as | image |}}
    {{#with image}}
      {{#with img}}
        <img src="data:{{imgType}};base64,{{data}}">
      {{/with}}
    {{/with}}
  {{/each}}